.text1{
    margin: 0;
    /* border: 1px solid green; */
    width: 160px;
    padding-left: 2px;
}
.text2{
    margin: 0;
    /* border: 1px solid green; */
    width: 80px;
    text-align: right;
    padding-right: 2px;
}
.summaryDesign,.castDesign{
    /* width:180px; */
    font-size: 11px;
    margin:0
}

.cardDesign{
    /* border: 1px solid blue; */
    margin-bottom: 1%;
    /* height: 260px; */
    width: 238px;
}